<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>reservtable</title>
    <meta data-react-helmet="true" charset="utf-8">
    <meta data-react-helmet="true" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">

    <!-- favicons -->
    <link rel="shortcut icon" href="images/favicon.png">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/custom.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/responsive.css">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.min.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" type="text/css" href="/font-awesome/css/font-awesome.min.css">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:100,200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:100,200,300,400,500,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">

</head>

<body>
    block body
</body>

    <!-- jQuery -->
    <script src="/jquery/jquery.min.js"></script>

    <!-- Customjs -->
    <script src="/jquery/custom.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

block script

</html>
