extends base

block body
  <div class="main-banner">
    <div class="container">
      //<div class="pull-left padding-30" style="position: absolute; z-index: 1;top: 50px;">
      //    <i class="fa fa-map-marker text-green fs-18" aria-hidden="true"></i>
      //    <span class="fs-13 fw-500 text-grey-3" id="demo"></span>
      //    <script src="http://maps.google.com/maps/api/js?key=AIzaSyC68vK_o3FBLbX5bnvSMHAaADptBCQTIb4"></script>
      //</div>
      <nav class="navbar navbar-inverse navbar-home">
        <div class="container-fluid no-padding">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar" style="background-color: #333;"></span>
              <span class="icon-bar" style="background-color: #333;"></span>
              <span class="icon-bar" style="background-color: #333;"></span>
            </button>
            <a class="navbar-brand" href="/home"><img src="images/rt-b.png" alt="reservtable" class="img-responsive img-res-in"></a>
          </div>

          <div class="collapse navbar-collapse" id="navigation">
            <ul class="nav navbar-nav navbar-right">
              <li class="active">
                <a href="/register-restaurant">
                  <button class="btn btn-rounded btn-green fs-12 register">REGISTER YOUR RESTAURANT</button>
                </a>
              </li>

              <li class="active"><a href="/contact" class="text-grey-3 fw-600 m-t-15">CONTACT US</a></li>

            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

  <div id="content">
    <div class="container">
      <h1 class="text-center">Pick your favourite place...</h1>
      <div class="row">
        each restaurant in restaurants
          <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 m-t-30">
            <div class="card">
              <div class="box">
                <div class="text-block">
                  <img src="#{restaurant.restaurantImage}" width="100%" height="175">
                  <h3 class="title m-t-30">#{restaurant.restaurantName}</h3>
                  <h4 class="price truncate">#{restaurant.restaurantAddress}</h4>
                    <div class="row">
                      <div class="col-lg-6 m-t-20">
                        <h5 class="price">#{restaurant.restaurantType}</h5>
                      </div>
                      <div class="col-lg-6">
                        <a href="/reserve-table/#{restaurant.id}" class="btn btn-green btn-rounded fs-14 pull-right">Book Table</a>
                      </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
