extends search

block searchList
  if typeof(searchResults) !== 'undefined'
    each rest in searchResults
      <a href='reserve-table/#{rest.id}'> #{rest.restaurantName} </a>
  else
    p= "No Result"
