extends base

block body
    <div class="main-banner">
        <div class="pull-left padding-30" style="position: absolute; z-index: 1;top: 50px;">
            <i class="fa fa-map-marker text-green fs-18" aria-hidden="true"></i>
            <span class="text-white fs-13" id="demo"></span>
            <script src="http://maps.google.com/maps/api/js?key=AIzaSyC68vK_o3FBLbX5bnvSMHAaADptBCQTIb4"></script>
        </div>
        <nav class="navbar navbar-inverse navbar-home">
            <div class="container-fluid no-padding">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/home"><img src="/images/rt.png" alt="reservtable" class="img-responsive img-res"></a>
                </div>

                <div class="collapse navbar-collapse" id="navigation">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item dropdown">
                            <a href="" class="nav-link dropdown-toggle login-window text-white m-t-15" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Welcome #{user.firstName}</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Logout</a>
                            </div>
                        </li>
                        <li><a href="/menu" class="login-window text-white m-t-15">Restaurant</a></li>
                        //<li class="active">
                        //    <a href="/register-restaurant">
                        //        <button class="btn btn-rounded btn-green fs-12">REGISTER YOUR RESTAURANT</button>
                        //    </a>
                        //</li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid">
            <div class="row">
                <div class="text-pos">
                    <div class="z-index relative">
                        <p class="text-white finest-text">Time to reserve your favourite table</p>
                    </div>

                    <div class="z-index relative m-l-30 m-t-30">
                        <a href="/menu" class="btn btn-green btn-rounded">BOOK TABLE</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="featured-banner col-md-12 col-sm-12 col-xs-12"></div>
        </div>

    </div>